<div class="row">
  <div class="infoCard col s12 m12 l12">
    <div class="card black">
      <div class="card-content white-text">
        <h1 class="card-title">Attendance Analyzer</h1>
        <h2 class="subtitle">User Story:</h2>
        <p>This application is a teacher/principal facing dashboard that allows the user:</p>

        <ol>
          <li type="square">To easily monitor the attendance rates of a specific graduating class</li>
          <li type="square">To quickly gather information on the attendance history of a particular student</li>
          <li type="square">To effortlessly make contact with guidance counselors/parents and quickly address student needs</li>
        </ol>

        <h2 class="subtitle">Architectural choices that keep the dashboard extendable and manageable:</h2>
        <ol>
          <li type="square">Monitoring state changes with ui-router allowing complete control of how app components are displayed as well as allowing easy additon and removal</li>
          <li type="square">Separating business logic and persistent data from the controllers with services, factories and providers - ie: separation of concerns</li>
          <li type="square">Testing that makes bugs easier to locate and fix</li>
        </ol>
      </div>

      <div class="card-action">
        <a href="https://github.com/JamesonCodes/attendanceAnalyzer">See the Code @ Github.com</a>
      </div>
    </div>
  </div>
</div>