
<div class="navbar-fixed">
  <nav class="black">
    <div class="nav-wrapper">
     <a href="#!" class="brand-logo">Attendance Analyzer</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html"><i class="material-icons">search</i></a></li>
      <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
      <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
      <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
    </ul>
    </div>
  </nav>
</div>


    <div class="row">

      <div class="sidePanel blue col s3 m3 l3">
        <form>
          <div class="form-group">
            <div>
              <input type="text" class="form-control" placeholder="Search by student name" ng-model="searchStudent">
            </div>
          </div>
        </form>
      </div>

      <div class="studentTable col s9 m9 l9" >
        <table class="highlight">
          <thead class="tableHead" >
            <tr>
                <th data-field="id"><a href="#" ng-click="sortType = 'studentId'; sortReverse = !sortReverse">studentId<i class="fa fa-caret-down" aria-hidden="true"></i></a></th>
                <th data-field="name"><a href="#" ng-click="sortType = 'studentName'; sortReverse = !sortReverse">studentName<i class="fa fa-caret-down" aria-hidden="true"></i></a></th>
                <th data-field="attendanceYTD"><a href="#" ng-click="sortType = 'attendanceYTD'; sortReverse = !sortReverse">attendanceYTD<i class="fa fa-caret-down" aria-hidden="true"></i></a></th>
                <th data-field="5day"><a href="#" ng-click="sortType = 'numberOfDaysAbsentLast5Days'; sortReverse = !sortReverse"># of absences last 5 days<i class="fa fa-caret-down" aria-hidden="true"></i></a></th>
                <th data-field="10day"><a href="#" ng-click="sortType = 'numberOfDaysAbsentLast10Days'; sortReverse = !sortReverse"># of absences last 10 days<i class="fa fa-caret-down" aria-hidden="true"></i></a></th>
                <th data-field="counselor"><a href="#" ng-click="sortType = 'guidanceCounselor'; sortReverse = !sortReverse">guidance counselor<i class="fa fa-caret-down" aria-hidden="true"></i></a></th>
            </tr>
          </thead>

          <!--ng-if="student.attendanceYtd <.5" -->
          <tbody class="tableBody" ng-repeat="student in students | orderBy:sortType:sortReverse | filter:searchStudent"
            <tr>
              <td>{{student.studentId}}</td>
              <td>{{student.studentName}}</td>
              <td>{{student.attendanceYtd | number: 2}}</td>
              <td>{{student.numberOfDaysAbsentLast5Days}}</td>
              <td>{{student.numberOfDaysAbsentLast10Days}}</td>
              <td>{{student.guidanceCounselor}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
 